version: "3.9"

services:

  db:
    image: postgres:16
    container_name: inventory_postgres
    restart: always
    environment:
      POSTGRES_DB: inventory_db
      POSTGRES_USER: inventory_user
      POSTGRES_PASSWORD: inventory_pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build:
      context: ./backend
    depends_on:
      - db
    environment:
      DB_HOST: db
      DATABASE_URL: postgresql+psycopg2://inventory_user:inventory_pass@db:5432/inventory_db
    ports:
      - "8000:8000"

volumes:
  postgres_data:
