services:

  db:
    image: postgres:16
    container_name: inventory_postgres
    restart: always
    environment:
      POSTGRES_DB: inventory_db
      POSTGRES_USER: inventory_user
      POSTGRES_PASSWORD: inventory_pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build:
      context: .
    depends_on:
      - db
    environment:
      DB_HOST: db
      DATABASE_URL: postgresql+psycopg://inventory_user:inventory_pass@db:5432/inventory_db
      JWT_SECRET: change_me_super_secret
      JWT_ALGORITHM: HS256
      ACCESS_TOKEN_EXPIRE_MINUTES: 30
    ports:
      - "8000:8000"

volumes:
  postgres_data:
