<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".InventoryApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Inventoryapp"
        android:usesCleartextTraffic="true">

        <!-- LOGIN (pantalla inicial) -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.products.ProductListActivity" />
        <activity android:name=".ui.products.ProductDetailActivity" />
        <activity android:name=".ui.scan.ScanActivity" />
        <activity android:name=".ui.movements.MovimientosActivity" />
        <activity android:name=".ui.movements.ConfirmMovementActivity" />
        <activity android:name=".ui.events.EventsActivity" />
        <activity android:name=".ui.stock.StockActivity" />
        <activity android:name=".ui.movements.ResultActivity" />
        <activity android:name=".ui.home.HomeActivity" />
        <activity android:name=".MainActivity" />

    </application>

</manifest>